streamlit==1.22.0
opencv-python==4.8.0.74
opencv-python-headless==4.8.0.74
cvzone==1.5.7  # Use a compatible version
ultralytics==8.0.61  # Use the available latest version of YOLOv8
torch==2.1.0  # Add PyTorch version suitable for YOLOv8
